/*
div, span {
    border:1px solid black;
}
*/

span {
	border: 1px solid black;
}

div.container {
	width: 98%;
	margin: 10px;
	padding: 0px;
	border: 6px solid black;
}

.jumbotron {
	margin: 10px;
	padding: 0px;
}

#cdDiv {
	font-size: 350px;
	color: red;
	text-align: center;
	margin: 0px;
	padding: 0px;
	line-height: 360px;
	border: 1px solid black;
	border-bottom: 0;
}

#header {
	width: 100%;
	height: 109px;
}

#currentExercise,
#currentExerciseLabel {
	width: 50%;
	float: left;
	position: relative;
	text-align: center;
	background-color: #33ff22;
	border: 1px solid black;
}

#nextExercise,
#nextExerciseLabel {
	width: 50%;
	float: right;
	position: relative;
	text-align: center;
	background-color: rgba(255, 251, 34, 0.71);
	border: 1px solid black;
}

#currentExercise,
#nextExercise {
	font-size: 40px;
	height: 88px;
	padding-top: 15px;
}

#threecolwrapper {
	width: 100%;
}

#leftCol {
	display: flex;
	flex-direction: column;
	float: left;
	width: 15%;
	background-color: lightgray;
}

.leftItems {
	margin-top: 12px;
	padding: 10px;
	height: 108px;
	text-align: center;
}

.rightItems {
	padding: 10px;
	margin-top: 28px;
	text-align: center;
}

#centerCol {
	float: left;
	width: 70%;
}

#rightCol {
	display: flex;
	flex-direction: column;
	float: left;
	width: 15%;
	background-color: lightgray;
	align-items: center;
}

button {
	width: 100px;
	margin-bottom: 32px;
	margin-right: 33px;
	margin-left: 40px;
}

.counterInputs {
	margin: 10px 0px 0px 0px;
	width: 80%;
	text-align: center;
	height: 55px;
	font-size: 44px;
}

.pauseInterval {
	border-color: red !important;
	border-width: 3px !important;
}

#progressDiv {
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	height: 70px;
}

#innerProgressDiv {
	font-size: 52px;
	color: black;
	padding-top: 25px;
}

.progressDivWrapper {
	margin-top: 10px;
	width: 250px;
}

table#exerciseListTable {
    margin: auto;
}

table#exerciseListTable, th, td {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
